@import 'office-ui-fabric-core/src/sass/_References.scss';

.ms-breadcrumb {
	width: 100%;
	word-break: break-all;
	background-color: transparent;

	.ms-breadcrumb-item-container {
		display: block;
		float: left;
	}

	.ms-breadcrumb-item{
		display: block;
		float: left;
		box-sizing: border-box;
		cursor: pointer;
		color: $ms-color-gray160;
		font-weight: $ms-font-weight-regular;
		background-color: transparent;

		&:hover{
			color: $ms-color-gray190;
			background-color: rgb(243, 242, 241);
		}
	}

	.ms-breadcrumb-item-disabled{
		cursor: default;
		color: $ms-color-gray90;
	
		&:hover {
			color: $ms-color-gray90;
			background-color: transparent;
		}
	}
	
	.ms-breadcrumb-item-active {
		font-weight: $ms-font-weight-semibold;
	}
	
	.ms-breadcrumb-split {
		&::before {
			display: block;
			color: #6c757d;
			content: "/";
		}
	}

	i.ms-split {
		display: block;
		float: left;
		font-size: $ms-font-size-12;
		padding: 0 3px;
	}

	i.ms-split.ms-breadcrumb-split {
		padding: 0 5px;
	}
}

.ms-breadcrumb-sm {
	.ms-breadcrumb-item {
		font-size: $ms-font-size-12;
	}

	i.ms-split {
		line-height: $ms-font-size-12;
	}
}

.ms-breadcrumb-md {
	.ms-breadcrumb-item  {
		font-size: $ms-font-size-14;
	}

	i.ms-split {
		line-height: $ms-font-size-14;
	}
}

.ms-breadcrumb-lg {
	.ms-breadcrumb-item {
		font-size: $ms-font-size-16;
	}

	i.ms-split {
		line-height: $ms-font-size-16;
	}
}