@import 'office-ui-fabric-core/src/sass/_References.scss';

.ms-button-group {
	display: inline-block;
	vertical-align: top;

	.ms-button-border {
		border-radius: 0;
	}

	.ms-button-primary {
		border-color: $ms-color-blue;
	}
}

.ms-button-group-sm {
	.ms-button-sm, .ms-button-md, .ms-button-lg {
		a, button {
			padding: 4px;
			font-size: $ms-font-size-12;
		}
	
		.ms-icon {
			margin-right: 4px;
		}
	
		&.ms-button-compound {
			a, button {
				padding: 12px 8px;
			}
	
			.ms-description {
				margin-top: 3px;
			}
		}

		button.ms-button-not-split {
			margin-left: -2px;
			padding-left: 0px;
			padding-right: 6px;
		}

		.ms-dropdown-triangle {
			border-width: 4px;
			margin-top: 8px;
		}
	}
}

.ms-button-group-md {
	.ms-button-sm, .ms-button-md, .ms-button-lg {
		a, button {
			padding: 7px;
			font-size: $ms-font-size-14;
		}
	
		.ms-icon {
			margin-right: 6px;
		}
	
		&.ms-button-compound {
			a, button {
				padding: 15px 11px;
			}
	
			.ms-description {
				margin-top: 3px;
			}
		}

		button.ms-button-not-split {
			margin-left: -2px;
			padding-left: 0px;
			padding-right: 8px;
		}

		.ms-dropdown-triangle {
			border-width: 5px;
			margin-top: 6px;
		}
	}
}

.ms-button-group-lg {
	.ms-button-sm, .ms-button-md, .ms-button-lg {
		a, button {
			padding: 10px;
			font-size: $ms-font-size-16;
		}
	
		.ms-icon {
			margin-right: 6px;
		}
	
		&.ms-button-compound {
			a, button {
				padding: 18px 14px;
			}
	
			.ms-description {
				margin-top: 3px;
			}
		}

		button.ms-button-not-split {
			margin-left: -5px;
			padding-left: 0px;
			padding-right: 10px;
		}

		.ms-dropdown-triangle {
			border-width: 6px;
			margin-top: 4px;
		}
	}
}

.ms-button-group-no-border {
	padding: 1px;

	.ms-button-container:first-child .ms-button,
	&.ms-button-group-horizontal .ms-button-container:first-child .ms-button,
	.ms-button-container .ms-button,
	&.ms-button-group-vertical .ms-button-container:first-child .ms-button,
	.ms-button-container:last-child .ms-button {
		a, button {
			border: none;
			border-radius: 0px;
		}
	}
}

.ms-button-group-horizontal {
	.ms-button-container {
		float: left;
	}

	.ms-button {
		a, button {
			border-left: none;
		}
	}

	.ms-button-container:first-child {

		.ms-button-dropdown button:first-child, .ms-button-dropdown a:first-child {
			border-right-color: transparent;
		}

		.ms-button-dropdown button:last-child, .ms-button-dropdown a:last-child {
			border-left-color: transparent;
		}

		.ms-button a, .ms-button button {
			border-left: 1px solid transparent;
		}
		
		.ms-button-border a, .ms-button-border button {
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
		}

		.ms-button-standard a, .ms-button-standard button {
			border-color: $ms-color-gray110;
		}

		.ms-button-disabled a, .ms-button-disabled button {
			border-color: darken($ms-color-white, 4.5%);
		}
	}

	.ms-button-container:last-child {
		.ms-button-border a, .ms-button-border button {
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
		}
	}
}

.ms-button-group-vertical {
	.ms-button-container {
		width: 100%;
		display: block;
	}

	button.ms-button-dropdown {
		height: 100% !important;
	}

	.ms-button, .ms-button {
		position: relative;
		display: block;
		width: 100%;
		a, button {
			border-top: none;
		}
	}

	.ms-button-no-split button:first-child, .ms-button-no-split a:first-child {
		width: 100% !important;
	}

	.ms-button-no-split {
		.ms-button-label {
			i {
				width: 100%;
			}
		}

		.ms-button-dropdown {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	
	.ms-button-container:first-child {

		.ms-button a, .ms-button a {
			border-top: 1px solid transparent;
		}
		
		.ms-button-border button, .ms-button-border a {
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}

		.ms-button-standard a, .ms-button-standard button {
			border-color: $ms-color-gray110;
		}

		.ms-button-disabled a, .ms-button-disabled button {
			border-color: darken($ms-color-white, 4.5%);
		}
	}

	.ms-button-container:last-child {
		.ms-button-border button, .ms-button-border a {
			border-bottom-right-radius: 2px;
			border-bottom-left-radius: 2px;
		}

		.ms-button-dropdown  {
			button:first-child, a:first-child {
				border-bottom-right-radius: 0px;
			}
			button:last-child, a:last-child {
				border-bottom-left-radius: 0px;
			}
		}
	}
}